<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Магазинище!!!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Куда зайдем?</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/shoes/">За обувкой!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/clothes/">За одёжкой!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/jackets/">За куртёхой!</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Ищу тебя" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Найти</button>
      </form>
      <form action="/login/">
        <button class="btn btn-primary">Вход</button>
      </form>
      <form action="/register/">
        <button class="btn btn-primary">Регистрация</button>
      </form>
    </div>
  </div>
</nav>

{% block content %}
    <h1>
      Ходи, броди, одеться найди!
      <img src="https://i.pinimg.com/736x/46/f4/5a/46f45a259e5eeeb1e9e5fef3f9d1b657.jpg" class="card-img-top" alt="Shop">
    </h1>
    {% endblock %}

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Домой</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Чё почём</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">О нас</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2024 Sega company, Inc</p>
  </footer>
</div>

</body>
</html>