{% extends 'index.html' %}

{% block title %} Одеться теплее {% endblock %}

{% block content %}
    <h1>Куртёхи для крутёхи!</h1>
    <div class="card-group">
        {% for item in jackets %}
            <div class="card">
                <img src='{{ item.pic }}' class="card-img-top" alt="куртёхи" width="300">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ item.date }}</small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
