{% extends 'index.html' %}

{% block title %} Обуться {% endblock %}

{% block content %}
    <h1>Мировые шузы!</h1>
    <div class="card-group">
<!--        {% for item in shoes %}-->
            <div class="card">
                <img src='{{ item.pic }}' class="card-img-top" alt="клевые тапки">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ item.date }}</small>
                </div>
            </div>
<!--        {% endfor %}-->
    </div>
{% endblock %}
